
.bg-red{
    background-color:red;
    color: red;
    border: 1px solid red;
}

.btn-red{
    display: inline-block;
    font-weight: 500;
    line-height: 1.5;
    color: red;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 0.0625 rem solid transparent;
    padding: 0.5 em 1 rem;
    font-size: 0.875rem;
    border-radius: 0.5 rem;
   
}






