body {
    /* background-image: url('/static/images/background.jpg'); */
    background-size: cover;
    color: blue;
}

.my-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #b42020;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}