{% load static %}
{% load crispy_forms_tags %}

<form method="post" enctype="multipart/form-data" data-url="{% url 'new:premise_update' form.instance.id %}" class="update-form">
	{% csrf_token %}
		<div class="modal-header">
		<h5 class="modal-title" >Update Premise</h5>
		<button type="button" class="close" data-dismis="modal" aria-label="Close">
		<span aria-hidden="true">&times;</span>
		</button>
		</div>
		<div class="modal-body">

            {% if request.user.role == "inspector" %}
                
                <div class="ml-3 col-sm-6" id="inspector">
                    {{form.inspection_authority_status | as_crispy_field }}
                    {{form.inspection_authority_remarks | as_crispy_field }}
                    {{form.forward_for_verification | as_crispy_field}}
                </div>
                
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismis="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Update Premise</button>
                </div>

            {% elif request.user.role == "verifier" %}
                
                <div class="ml-3 col-sm-6" id="verifier">
                    {{form.verification_authority_status | as_crispy_field }}
                    {{form.verification_authority_remarks | as_crispy_field }}
                    {{form.forward_for_approval | as_crispy_field}} 
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismis="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Update Premise</button>
                </div>

            {% elif request.user.role == "approver" %}
                
                <div class="ml-3 col-sm-6" id="approver">
                    {{form.approving_authority_status | as_crispy_field }}
                    {{form.approved | as_crispy_field }}
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismis="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Update Premise</button>
                </div>

            {% else %}
            <div class="ml-3 col-sm-6" id="client">
                <p> Nothing to update </p>
            </div>
            {% endif %}

		</div>		
</form>



<!-- Modal Content -->
<div class="modal fade" id="modalSignUp" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body px-md-5">
                <h2 class="h4 text-center">Approve</h2>
                <p class="text-center mb-4">submit it your recomendations here.</p>
                <form action="#">
                    <!-- Form -->
                    <div class="form-group mb-4">
                        <label for="email">Your Email</label>
                        <div class="input-group">
                            <span class="input-group-text border-gray-300" id="basic-addon3">
                                <svg class="icon icon-xxs" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M2.003 5.884L10 9.882l7.997-3.998A2 2 0 0016 4H4a2 2 0 00-1.997 1.884z"></path><path d="M18 8.118l-8 4-8-4V14a2 2 0 002 2h12a2 2 0 002-2V8.118z"></path></svg>
                            </span>
                            <input type="email" class="form-control border-gray-300" placeholder="example@company.com" id="email" autofocus required>
                        </div>  
                    </div>
                    <!-- End of Form -->
                    <div class="form-group">
                        <!-- Form -->
                        <div class="form-group mb-4">
                            <label for="password">Your Password</label>
                            <div class="input-group">
                                <span class="input-group-text border-gray-300" id="basic-addon4">
                                    <svg class="icon icon-xxs" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M5 9V7a5 5 0 0110 0v2a2 2 0 012 2v5a2 2 0 01-2 2H5a2 2 0 01-2-2v-5a2 2 0 012-2zm8-2v2H7V7a3 3 0 016 0z" clip-rule="evenodd"></path></svg>
                                </span>
                                <input type="password" placeholder="Password" class="form-control border-gray-300" id="password" required>
                            </div>  
                        </div>
                        <!-- End of Form -->
                        <!-- Form -->
                        <div class="form-group mb-4">
                            <label for="confirm_password">Confirm Password</label>
                            <div class="input-group">
                                <span class="input-group-text border-gray-300" id="basic-addon5">
                                    <svg class="icon icon-xxs" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M5 9V7a5 5 0 0110 0v2a2 2 0 012 2v5a2 2 0 01-2 2H5a2 2 0 01-2-2v-5a2 2 0 012-2zm8-2v2H7V7a3 3 0 016 0z" clip-rule="evenodd"></path></svg>
                                </span>
                                <input type="password" placeholder="Confirm Password" class="form-control border-gray-300" id="confirm_password" required>
                            </div>  
                        </div>
                        <!-- End of Form -->
                        <div class="form-check mb-4">
                            <input class="form-check-input border-gray-300" type="checkbox" value="" id="terms" required>
                            <label class="form-check-label" for="terms">
                                I agree to the <a href="#">terms and conditions</a>
                            </label>
                        </div>
                    </div>
                    <div class="d-grid">
                        <button type="submit" class="btn btn-primary">Sign up</button>
                    </div>
                </form>
                
                
            </div>
        </div>
    </div>
</div>
<!-- End of Modal Content -->         




<script type="text/javascript">

$(document).ready(function() {
   var role = "{{ request.user.role }}"
   console.log(role)
   if( role == "inspector"){
     $('#inspector').show();
     $('#approver').hide();
     $('#verifier').hide();
	 $('#client').hide();

   }else if(role == "verifier"){
     $('#verifier').show();
     $('#approver').hide();
     $('#inspector').hide();
	 $('#client').hide();
   }else if( role == "approver"){
     $('#approver').show();
     $('#inspector').hide();
     $('#verifier').hide();
	 $('#client').hide();
    }else if( role == "client"){
    	$('#client').show();
		$('#approver').hide();
     	$('#inspector').hide();
     	$('#verifier').hide();
   }else{
      console.log("nothing to update")
   }

});

</script>
