<div class="row mt-3">
   <div class="">
      <h3 class=""> General </h3>
   </div>
   <div class="col-6">
      <div class="row">
         <div class="col-sm-6">
            <td class="text-right">
               <h5> Licence availability. </h5>
               <p> Is the company/ facility licenced ?</p>
               {{premise_licence_detail.licence_availability  }}
               
            </td>
         </div>
         <div class="col-sm-6">
            <td class="text-right">
               <div class="premise_licence_detail-group">
                  <label for="examplepremise_licence_detailControlTextarea1">Explain more ?</label>
                   {{premise_licence_detail.licence_availability_comments  }}
               </div>
            </td>
         </div>
      </div>
   </div>
   <div class="col-6">
      <div class="row">
         <div class="col-sm-6">
            <td class="text-right">
               <h5>Licenceing certificate display.</h5>
               <p> Is the licence displayed properly as required ?</p>
                {{premise_licence_detail.licence_display  }}
            </td>
         </div>
         <div class="col-sm-6">
            <td class="text-right">
               <div class="premise_licence_detail-group">
                  <label for="examplepremise_licence_detailControlTextarea1">If not displayed properly, specify how ?</label>
                {{premise_licence_detail.licence_display_comments  }}
               </div>
            </td>
         </div>
      </div>
   </div>
   <div class="col-6 mt-3 ">
      <div class="row">
         <div class="col-sm-6">
            <td class="text-right">
               <h5>Premises</h5>
               <p> Surrounding public amenities (school, hospital, markets, places  <br> of worship  or government offices)<br>  (Rule 18 of the Lotteries and gaming (licensing) regulations SI. No.7 of 2017)</p>
               <div class="input-group">
                  {{premise_licence_detail.premises_surrounding_public_amenities  }}
               </div>
            </td>
         </div>
         <div class="col-sm-6">
            <td class="text-right">
               <div class="premise_licence_detail-group">
                  <label for="examplepremise_licence_detailControlTextarea1">If yes, state the influence and approximate distance from premises</label>
                  {{premise_licence_detail.premises_urrounding_public_amenities_comments  }}
               </div>
            </td>
         </div>
      </div>
   </div>
   <div class="col-6">
      <div class="row">
         <div class="col-sm-6">
            <td class="text-right">
               <h5> Convenience Facilities and Common area  </h5>
               <p>  (Rule 18(2)e) of the Lotteries and Gaming (Licensing) Regulations No. 7 of 2017) </p>
               
               
               <div class="row">
                  <div class="col-sm-6">
                     <div class="">
                        {{premise_licence_detail.convinience_facility }}
                     </div>
                  </div>

                  <div class="col-sm-6">
                     <div class="">
                        {{premise_licence_detail.common_area }}
                     </div>
                  </div>
               </div>

               {% comment %} <div class="premise_licence_detail-check premise_licence_detail-check-inline">
                  <input class="premise_licence_detail-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                  <label class="premise_licence_detail-check-label" for="inlineCheckbox1">Convinience facility </label>
               </div> {% endcomment %}

               {% comment %} <div class="premise_licence_detail-check premise_licence_detail-check-inline">
                  <input class="premise_licence_detail-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
                  <label class="premise_licence_detail-check-label" for="inlineCheckbox2">Common aread </label>
               </div> {% endcomment %}

            </td>
            <td class="text-right">
               <div class="premise_licence_detail-group">
                  {{premise_licence_detail.size_of_premises  }}
               </div>
            </td>
         </div>
         <div class="col-sm-6">
            <td class="text-right">
               <div class="premise_licence_detail-group">
                  <label for="examplepremise_licence_detailControlTextarea1">Explain findings</label>
                  {{premise_licence_detail.convenience_facilities_and_common_area_comments  }}
               </div>
            </td>
         </div>
      </div>
   </div>
   <hr class="hr mt-3 mb-3">
   </hr>
   <div class="container-fluid">
      <div class="row mt-3">
         <div class="col-6">
            <div class="row">
               <div class="col-sm-6">
                  <td class="text-right">
                     <h5>Access restriction and security (Section 57)</h5>
                     <p> Is any of the following available  at the premise ?</p>
                     
                     {% comment %} <div class="premise_licence_detail-check premise_licence_detail-check-inline">
                        <input class="premise_licence_detail-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                        <label class="premise_licence_detail-check-label" for="inlineCheckbox1">Security Guard</label>
                     </div>
                     <div class="premise_licence_detail-check premise_licence_detail-check-inline">
                        <input class="premise_licence_detail-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
                        <label class="premise_licence_detail-check-label" for="inlineCheckbox2">Metal Detector</label>
                     </div> {% endcomment %}

                     <div class="row">
                        <div class="col-sm-6">
                           <div class="">
                              {{premise_licence_detail.metal_detector }}
                           </div>
                        </div>

                        <div class="col-sm-6">
                           <div class="">
                              {{premise_licence_detail.security_guard }}
                           </div>
                        </div>
                     </div>


                  </td>
               </div>
               <div class="col-sm-6">
                  <td class="text-right">
                     <div class="premise_licence_detail-group">
                        <label for="examplepremise_licence_detailControlTextarea1">Explain findings </label>
                        {{premise_licence_detail.access_restriction_and_security_comments }}
                     </div>
                  </td>
               </div>
            </div>
         </div>
         <div class="col-6">
            <div class="row">
               <div class="col-sm-6">
                  <td class="text-right">
                     <h5>Television Sets Positioning</h5>
                     <p> Check based on availability </p>
                     <div class="input-group">
                         {{premise_licence_detail.television_set_positioning }}
                     </div>
                  </td>
               </div>
               <div class="col-sm-6">
                  <td class="text-right">
                     <div class="premise_licence_detail-group">
                        <label for="examplepremise_licence_detailControlTextarea1">If not suitaible, Explain how </label>
                        {{premise_licence_detail.television_set_positioning_comments }}
                     </div>
                  </td>
               </div>
            </div>
         </div>
      </div>
   </div>
   <hr class="hr mt-3 mb-3">
   </hr>
   <div class="container-fluid">
      <div class="row mt-3">
         <div class="col-6">
            <div class="row">
               <div class="col-sm-6">
                  <td class="text-right">
                     <h5> Display of rules on betting and gaming</h5>
                     <p> (Rule 18(2)g) of the Lotteries and Gaming (Licensing) Regulations No. 7 of 2017) </p>
                     <div class="input-group">
                       {{premise_licence_detail.display_of_rules_on_betting_and_gaming }}
                     </div>
                  </td>
               </div>
               <div class="col-sm-6">
                  <td class="text-right">
                     <div class="premise_licence_detail-group">
                        <label for="examplepremise_licence_detailControlTextarea1">Explain findings</label>
                        {{premise_licence_detail.display_of_rules_on_betting_and_gaming_comments  }}
                     </div>
                  </td>
               </div>
            </div>
         </div>
         <div class="col-6">
            <div class="row">
               <div class="col-sm-6">
                  <td class="text-right">
                     <h5> Display of Board Notices</h5>
                     <p>  Rule 18(2)g) of the Lotteries and Gaming (Licensing) Regulations No. 7 of 2017) <br> 
                        Must be displayed in a conspicuous place inside the premises      
                     </p>
                     <div class="input-group">
                       {{premise_licence_detail.display_of_board_notices_and_rules }}
                     </div>
                  </td>
               </div>
               <div class="col-sm-6">
                  <td class="text-right">
                     <div class="premise_licence_detail-group">
                        <label for="examplepremise_licence_detailControlTextarea1">If yes, state the influence and approximate distance from premises</label>
                        {{premise_licence_detail.display_of_board_notices_and_rules_comments }}
                     </div>
                  </td>
               </div>
            </div>
         </div>
      </div>
   </div>
   <hr class="hr casion-div mt-3 mb-3">
   </hr>
   <div class="container-fluid">
      <div class="row mt-3">
         <div class="col-6">
            <div class="row">
               <div class="col-sm-6">
                  <td class="text-right">
                     <h5> Data protection and privacy policy </h5>
                     <p> Data protection and privacy and privacy act, 2019  </p>
                     <div class="input-group">
                        {{premise_licence_detail.data_protection_policy }}
                     </div>
                  </td>
               </div>
               <div class="col-sm-6">
                  <td class="text-right">
                     <div class="premise_licence_detail-group">
                        <label for="examplepremise_licence_detailControlTextarea1">If yes insert the certificate number</label>
                        {{premise_licence_detail.data_protection_policy_comments }}
                     </div>
                  </td>
               </div>
            </div>
         </div>

         <div class="col-6">
            {% comment %} <div class="row">
               <div class="col-sm-6">
                  <td class="text-right">
                     <h5> Display of Board Notices Refactored </h5>
                     <p>  Rule 18(2)g) of the Lotteries and Gaming (Licensing) Regulations No. 7 of 2017) <br> 
                        Must be displayed in a conspicuous place inside the premises      
                     </p>
                     <div class="input-group">
                        <select class="premise_licence_detail-control" id="inputGroupSelect04">
                           <option selected>Choose display status...</option>
                           <option value="1">Displayed</option>
                           <option value="2">Not displayed </option>
                        </select>
                     </div>
                  </td>
               </div>
               <div class="col-sm-6">
                  <td class="text-right">
                     <div class="premise_licence_detail-group">
                        <label for="examplepremise_licence_detailControlTextarea1">If yes, state the influence and approximate distance from premises</label>
                        <textarea class="premise_licence_detail-control" id="examplepremise_licence_detailControlTextarea1" rows="5"></textarea>
                     </div>
                  </td>
               </div>
            </div> {% endcomment %}
         </div>
      </div>
   </div>
   <hr class="hr casion-div mt-3 mb-3">
   </hr>
   <div class="container-fluid">
      <div class="row mt-3">
         <div class="">
            <h3 class=""> Casino Operations and Head office </h3>
         </div>
         <div class="col-6">
            <div class="row">
               <div class="col-sm-6">
                  <td class="text-right">
                     <h5> Casino Premises </h5>
                     <p>  (Section 29 of The Lotteries and Gaming Act,2016). Plans and diagram specifications the same as those submitted to the Board.</p>
                     <div class="input-group">
                         {{premise_licence_detail.plans_and_diagram_of_casino }}
                     </div>
                  </td>
               </div>
               <div class="col-sm-6">
                  <td class="text-right">
                     <div class="premise_licence_detail-group">
                        <label for="examplepremise_licence_detailControlTextarea1">If yes, state the influence and approximate distance from premises</label>
                        {{premise_licence_detail.plans_and_diagram_of_casino_comments }}
                     </div>
                  </td>
               </div>
            </div>
         </div>
         <div class="col-6">
            <div class="row">
               <div class="col-sm-6">
                  <td class="text-right">
                     <h5> Surveillance system for monitoring operations within the Casino..</h5>
                     <p>  (Section 29 of The Lotteries and Gaming Act,2016).</p>
                     <div class="input-group">
                        {{premise_licence_detail.survillance_systems }}
                     </div>
                  </td>
               </div>
               <div class="col-sm-6">
                  <td class="text-right">
                     <div class="premise_licence_detail-group">
                        <label for="examplepremise_licence_detailControlTextarea1">If yes, state the influence and approximate distance from premises</label>
                          {{premise_licence_detail.survillance_systems_comments }}
                     </div>
                  </td>
               </div>
            </div>
         </div>
         <div class="row">
            <div class="col-sm-6 mt-3 ">
               <div class="row">
                  <div class="col-sm-6">
                     <td class="text-right">
                        <h5>Counting rooms/cages available and in secure state.</h5>
                        <p> Lotteries and Gaming (Licensing) Regulations  </p>
                        <div class="input-group">
                           {{premise_licence_detail.counting_rooms_or_cages }}
                        </div>
                     </td>
                  </div>
                  <div class="col-sm-6">
                     <td class="text-right">
                        <div class="premise_licence_detail-group">
                           <label for="examplepremise_licence_detailControlTextarea1">If yes, state the influence and approximate distance from premises</label>
                           {{premise_licence_detail.counting_rooms_or_cages_comments }}
                        </div>
                     </td>
                  </div>
               </div>
            </div>
            <div class="col-sm-6 mt-3">
               <div class="row">
                  <div class="col-sm-6">
                     <td class="text-right">
                        <h5> Casino Games and rules  (Section 32(4) of The Lotteries and Gaming Act,2016)    </h5>
                        <p> Are Casino rules kept and exhibited in a conspicuous place in the casino. </p>
                        <div class="input-group">
                           {{premise_licence_detail.casino_and_gaming_rules }}
                        </div>
                     </td>
                  </div>
                  <div class="col-sm-6">
                     <td class="text-right">
                        <div class="premise_licence_detail-group">
                           <label for="examplepremise_licence_detailControlTextarea1">If yes, state the influence and approximate distance from premises</label>
                           {{premise_licence_detail.casino_and_gaming_rules_comments }}
                        </div>
                     </td>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
   <div class="container-fluid mt-3">
      <div class="row mt-3">
         <div class="col-6">
            <div class="row">
               <div class="col-sm-6">
                  <td class="text-right">
                     <h5> Communication facilities provided for persons monitoring operations. </h5>
                     <p>  (Section 29 of The Lotteries and Gaming Act,2016).</p>
                     <div class="input-group">
                        {{premise_licence_detail.communication_facilities }}
                     </div>
                  </td>
               </div>
               <div class="col-sm-6">
                  <td class="text-right">
                     <div class="premise_licence_detail-group">
                        <label for="examplepremise_licence_detailControlTextarea1">Explain findings</label>
                        {{premise_licence_detail.communication_facilities_comments }}
                     </div>
                  </td>
               </div>
            </div>
         </div>
         <div class="col-6">
            <div class="row">
               <div class="col-sm-6">
                  <td class="text-right">
                     <h5> Anti Money Laundering(AML). / CTF </h5>
                     <p>  (The Anti-money laundering Laundering Act, 2013 and The Anti -money laundering regulations).</p>
                     <div class="input-group">
                         {{premise_licence_detail.anti_money_laundering_policy }}
                     </div>
                  </td>
               </div>
               <div class="col-sm-6">
                  <td class="text-right">
                     <div class="premise_licence_detail-group">
                        <label for="examplepremise_licence_detailControlTextarea1">If available, specify the AML officer</label>
                        {{premise_licence_detail.anti_money_laundering_policy_comments }}
                     </div>
                  </td>
               </div>
            </div>
         </div>
      </div>
   </div>


</div>