{% extends 'client/base.html' %}

{% load static %}

{% block content %}

            <div class="py-4">
                
            </div>
            <div class="row">

            
                
                <div class="col-12 col-sm-6 col-xl-4 mb-4">
                    <div class="card border-0 shadow">
                        <div class="card-body">
                            <div class="row d-block d-xl-flex align-items-center">
                                <div class="col-12 col-xl-5 text-xl-center mb-3 mb-xl-0 d-flex align-items-center justify-content-xl-center">
                                    <div class="icon-shape icon-shape-primary rounded me-4 me-sm-0">
                                        <i class="far fa-thumbs-up"></i> 
                                    </div>
                                    
                                </div>
                                <div class="col-12 col-xl-7 px-xl-0">
                                    <div class="d-none d-sm-block">
                                        <h2 class="h6 text-success mb-0">Approved</h2>
                                        <h3 class="fw-extrabold mb-2"> 2</h3>
                                    </div>
                                   
                                    <div class="small d-flex mt-1">                               
                                        <div> <a href=""> View More Details </a> <i class="fas fa-arrow-right"></i> </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-xl-4 mb-4">
                    <div class="card border-0 shadow">
                        <div class="card-body">
                            <div class="row d-block d-xl-flex align-items-center">
                                <div class="col-12 col-xl-5 text-xl-center mb-3 mb-xl-0 d-flex align-items-center justify-content-xl-center">
                                    <div class="icon-shape icon-shape-secondary rounded me-4 me-sm-0">
                                        <i class="far fa-clock"></i> 
                                    </div>
                                    
                                </div>
                                <div class="col-12 col-xl-7 px-xl-0">
                                    <div class="d-none d-sm-block">
                                        <h2 class="h6 text-warning mb-0">Defered</h2>
                                        <h3 class="fw-extrabold mb-2">1</h3>
                                    </div>
                                    
                                    <div class="small d-flex mt-1">  
                                    <div> <a href=""> View More Details </a> <i class="fas fa-arrow-right"></i> </div>                            
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-xl-4 mb-4">
                    <div class="card border-0 shadow">
                        <div class="card-body">
                            <div class="row d-block d-xl-flex align-items-center">
                                <div class="col-12 col-xl-5 text-xl-center mb-3 mb-xl-0 d-flex align-items-center justify-content-xl-center">
                                    <div class="icon-shape icon-shape-tertiary rounded me-4 me-sm-0">
                                       <div> <i class="fa fa-ban"> </i> </div>
                                    </div>
                                   
                                </div>
                                <div class="col-12 col-xl-7 px-xl-0">
                                    <div class="d-none d-sm-block">
                                        <h2 class="h6 text-danger  mb-0"> Rejected</h2>
                                        <h3 class="fw-extrabold mb-2">4</h3>
                                    </div>
                                   
                                    <div class="small d-flex mt-1">                               
                                        <div> <a href=""> View More Details </a> <i class="fas fa-arrow-right"></i> </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 ">
                    <div class="row">
                        <div class="col-12 mb-4">
                            <div class="card border-0 shadow">
                                <div class="card-header">
                                    <div class="row align-items-center">
                                        <div class="col">
                                            <h2 class="fs-5 fw-bold mb-0">Achived Licence </h2>
                                        </div>
                                        <div class="col text-end">
                                            <a href="#" class="btn btn-sm btn-primary">view all</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="table-responsive">

                            <!--end task -->
                                    <div class="card card-body shadow border-0 table-wrapper table-responsive">
                                    <div class="d-flex mb-3">
                                        <div class="col-xs-3"> 
                                            <input type="search" class="form-control col-xl-3 " placeholder="search by licence name" id="exampleInputIconRight" >
                                        </div>
                                        <button class="btn btn-sm px-3 btn-secondary ms-3">search</button>
                                       
                                    </div>
                                    <table class="table user-table table-hover align-items-center">
                                        <thead class="thead-light">
                                                <tr>
                                                <th class="border-0">ID</th>
                                                <th class="border-0 rounded-start">Name</th> 
                                                <th class="border-0">Type of Licence</th>
                                                <th class="border-0">Date applied</th>
                                                <th class="border-0">Tin</th>
                                                <th class="border-0">NIN / BRN</th>
                                                <th class="border-0 rounded-end">Status</th>
                                                <th class="border-0 rounded-end">Actions</th>
                                               
                                                </tr>
                                            </thead>
                                        <tbody>

                                        {% for task in archived_task %}
                                        
                                            <tr>

                                                <td class="border-0 fw-bold">{{task.id}}</td>

                                                <td class="border-0">                                             
                                                        <a href="{{ task.get_absolute_url }}" class="d-flex align-items-center">
                                                            <i class =" icon icon-xxs text-gray-500 me-2 fas fa-id-badge"></i>
                                                            <div><span class="h6">{{task.Name}}</span></div>
                                                        </a>
                                                </td>
                                                
                                                <td class="border-0 text-danger">
                                                        <div class="d-flex align-items-center">
                                                            <span class="fw-bold">{{task.Licence_type}}</span>
                                                        </div> 
                                                </td>
                                                <td class="border-0 fw-bold">
                                                    03/03/2021
                                                </td>
                                                <td class="border-0">
                                                    19087865
                                                </td>
                                                <td class="border-0 fw-bold">
                                                    {% if request.user.legalStatus == "Company" %} {{ request.user.Brn }} {% else %} {{ request.user.Nin}} {% endif %}  
                                                </td>
                                                <td><span class="fw-normal text-success">Active</span></td>
                                                <td>
                                                <div class="btn-group">
                                                    <button class="btn btn-link text-dark dropdown-toggle dropdown-toggle-split m-0 p-0" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                        <svg class="icon icon-xs" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                                            <path d="M6 10a2 2 0 11-4 0 2 2 0 014 0zM12 10a2 2 0 11-4 0 2 2 0 014 0zM16 12a2 2 0 100-4 2 2 0 000 4z"></path>
                                                        </svg>
                                                        <span class="visually-hidden">Toggle Dropdown</span>
                                                    </button>
                                                    <div class="dropdown-menu dashboard-dropdown dropdown-menu-start mt-2 py-1">
                                                        
                                                        <a class="dropdown-item d-flex align-items-center" href="{{ task.get_absolute_url }}">
                                                            <svg class="dropdown-icon text-gray-400 me-2" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                                            <path d="M10 12a2 2 0 100-4 2 2 0 000 4z"></path>
                                                            <path fill-rule="evenodd" d="M.458 10C1.732 5.943 5.522 3 10 3s8.268 2.943 9.542 7c-1.274 4.057-5.064 7-9.542 7S1.732 14.057.458 10zM14 10a4 4 0 11-8 0 4 4 0 018 0z" clip-rule="evenodd"></path>
                                                            </svg>
                                                            View Details 
                                                        </a>
                                                        <a class="dropdown-item d-flex align-items-center" href="#">
                                                            <svg class="dropdown-icon text-danger me-2" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                                            <path d="M11 6a3 3 0 11-6 0 3 3 0 016 0zM14 17a6 6 0 00-12 0h12zM13 8a1 1 0 100 2h4a1 1 0 100-2h-4z"></path>
                                                            </svg>
                                                            Suspend
                                                        </a>
                                                    </div>
                                                </div>
                                                <svg class="icon icon-xs text-danger ms-1" title="Delete" data-bs-toggle="tooltip" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                                    <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zM8.707 7.293a1 1 0 00-1.414 1.414L8.586 10l-1.293 1.293a1 1 0 101.414 1.414L10 11.414l1.293 1.293a1 1 0 001.414-1.414L11.414 10l1.293-1.293a1 1 0 00-1.414-1.414L10 8.586 8.707 7.293z" clip-rule="evenodd"></path>
                                                </svg>
                                                </td>
                                                
   
                                            {% endfor %}

                                            
                                                
                                            </tr>
                                            
                                            
                                        </tbody>
                                        
                                    </table>
                                    <div class="card-footer px-3 border-0 d-flex flex-column flex-lg-row align-items-center justify-content-between">
                                        
                                    </div>
                                    </div>



                            <!--end task -->
                                </div>
                            </div>
                        </div>
                        
                        <div class="col-12 col-xxl-6 mb-4">
                            
                        </div>
                    </div>
                </div>
               
            </div>
            
    
</div>


{% endblock content %}
