{% extends 'client/base.html' %}
{% load static %}
{% block content %}
{% load crispy_forms_tags %}
<div class="card mt-3 mb-3">
   <div class="card-body">
      <nav aria-label="breadcrumb" class="d-none d-md-inline-block">
         <ol class="breadcrumb breadcrumb-dark breadcrumb-transparent mb-0">
            <li class="breadcrumb-item">
               <a href="#">
                  <svg class="icon icon-xxs" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                     xmlns="http://www.w3.org/2000/svg">
                     <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6">
                     </path>
                  </svg>
               </a>
            </li>
            <li class="breadcrumb-item"><a href="#">Payments</a></li>
            <li class="breadcrumb-item active" aria-current="page">Payment registration numbers </li>
         </ol>
      </nav>
   </div>
</div>
<div class="row">
   <div class="col-12 ">
      <div class="card card-body border-0 shadow mb-4">
         <h2 class="h5 mb-4">Payment registration slips </h2>
         <div class="row">
            <div class="col-12">
               <!-- Tab -->
               <nav>
                  <div class="nav nav-tabs mb-4" id="nav-tab" role="tablist">
                     <a class="nav-item nav-link active" id="nav-home-tab" data-bs-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Principle Licence</a>
                     {% comment %} <a class="nav-item nav-link" id="nav-profile-tab" data-bs-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Premise Licence</a> {% endcomment %}
                     <a class="nav-item nav-link" id="nav-contact-tab" data-bs-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">Key Employee Licence</a>
                  </div>
               </nav>
               <div class="tab-content" id="nav-tabContent">
                  <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                     <div class="table-responsive">
                        <table class="table table-centered table-nowrap mb-0 rounded">
                           <thead class="thead-light">
                              <tr>
                                 <th class="border-0 ">ID</th>
                                 <th class="border-0">Name of the License</th>
                                 <th class="border-0">Type of the licence</th>
                                 <th class="border-0">Purpose</th>
                                 <th class="border-0">Date Applied</th>
                                 <th class="border-0">Approval Status</th>
                                 <th class="border-0 rounded-end">Application Fee Prn</th>
                                 <th class="border-0 rounded-end">Licence Fee Prn</th>
                                 <th class="border-0 rounded-end">Action</th>
                              </tr>
                           </thead>
                           <tbody>
                              <!-- Item -->
                              {% for licence in new_principle_principle_licence_track %}
                              <tr>
                                 <td>{{licence.id}} </td>
                                 <td>   {{licence.applicant}} </td>
                                 <td> {{licence.licence_type}} </td>
                                 <td> {{licence.purpose_of_application}} </td>
                                 <td> {{licence.date_applied}} </td>
                                 <td class="{% if licence.approving_authority_status == "Rejected" %} text-danger {% else %} text-success {% endif %}"> {{licence.approving_authority_status}} </td>
                                 <td class="text-primary">
                                    {% if licence.purpose_of_application == "Renewal" %}
                                    Does not apply 
                                    {% else %}
                                    <div class="d-flex align-items-justify ml-3 mr-3">
                                       <div> 
                                          <a href="{% url 'applications:new_principle_prn_pdf_view'  licence.id %}" target="_blank" class="ml-3 mr-3 "> 
                                          <span data-toggle="tooltip" data-placement="top" title="view prn slip">
                                          <i class="far fa-eye"></i>    &nbsp;  &nbsp; &nbsp; 
                                          </span>
                                          </a>
                                       </div>
                                       <div>
                                          <a href="{% url 'applications:new_principle_prn_pdf_download_view'  licence.id %}" class="ml-3 mr-3 "> 
                                          <span data-toggle="tooltip" data-placement="top" title="download prn slip">
                                          <i class="fas fa-download"></i>    
                                          </span>
                                          </a>
                                       </div>
                                    </div>
                                    {% endif %}
                                 </td>
                                 <td>
                                    {% comment %} 
                                    <div class="d-flex align-items-justify ml-3 mr-3">
                                       <div> 
                                          <a href="{% url 'applications:new_principle_prn_licence_fee_pdf_view'  licence.id %}" target="_blank" class="ml-3 mr-3 "> 
                                          <span data-toggle="tooltip" data-placement="top" title="view prn slip">
                                          <i class="far fa-eye"></i>    &nbsp;  &nbsp; &nbsp; 
                                          </span>
                                          </a>
                                       </div>
                                       <div>
                                          <a href="{% url 'applications:new_principle_prn_licence_fee_pdf_download_view'  licence.id %}" class="ml-3 mr-3 "> 
                                          <span data-toggle="tooltip" data-placement="top" title="download prn slip">
                                          <i class="fas fa-download"></i>    
                                          </span>
                                          </a>
                                       </div>
                                    </div>
                                    {% endcomment %}
                                    {% if licence.licencefeepayments %}
                                    {% comment %} 
                                    <div class="d-flex align-items-justify ml-3 mr-3">
                                       <div> 
                                          <a href="{% url 'applications:new_principle_prn_pdf_view'  licence.id %}" target="_blank" class="ml-3 mr-3 "> 
                                          <span data-toggle="tooltip" data-placement="top" title="view prn slip">
                                          <i class="far fa-eye"></i>    &nbsp;  &nbsp; &nbsp; 
                                          </span>
                                          </a>
                                       </div>
                                       <div>
                                          <a href="{% url 'applications:new_principle_prn_pdf_download_view'  licence.id %}" class="ml-3 mr-3 "> 
                                          <span data-toggle="tooltip" data-placement="top" title="download prn slip">
                                          <i class="fas fa-download"></i>    
                                          </span>
                                          </a>
                                       </div>
                                    </div>
                                    {% endcomment %}
                                    <div class="d-flex align-items-justify ml-3 mr-3">
                                       <div> 
                                          <a href="{% url 'applications:new_principle_prn_licence_fee_pdf_view'  licence.id %}" target="_blank" class="ml-3 mr-3 "> 
                                          <span data-toggle="tooltip" data-placement="top" title="view prn slip">
                                          <i class="far fa-eye"></i>    &nbsp;  &nbsp; &nbsp; 
                                          </span>
                                          </a>
                                       </div>
                                       <div>
                                          <a href="{% url 'applications:new_principle_prn_licence_fee_pdf_download_view'  licence.id %}" class="ml-3 mr-3 "> 
                                          <span data-toggle="tooltip" data-placement="top" title="download prn slip">
                                          <i class="fas fa-download"></i>    
                                          </span>
                                          </a>
                                       </div>
                                    </div>
                                    {% else %}
                                    pending 
                                    {% endif %}
                                 </td>
                                 <td class="text-success">
                                    <a href="{% url 'applications:principle-detail'  licence.id %}" class=" btn btn-warning text-light"> view </a>                                                 
                                 </td>
                              </tr>
                              <!-- End of Item -->
                              {% endfor %}
                           </tbody>
                        </table>
                     </div>
                  </div>
                  {% comment %} <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                     <div class="table-responsive">
                        <table class="table table-centered table-nowrap mb-0 rounded">
                           <thead class="thead-light">
                              <tr>
                                 <th class="border-0">ID</th>
                                 <th class="border-0 ">Name of the company</th>
                                 <th class="border-0">Number of the premises</th>
                                 <th class="border-0">Fee</th>
                                 <th class="border-0">Date applied</th>
                                 <th class="border-0">Application Fee Prn</th>
                                 <th class="border-0">Payment Status</th>
                                 <th class="border-0">Action</th>
                              </tr>
                           </thead>
                           <tbody>
                              <!-- Item -->
                              {% for licence in new_premise_licence_track %}
                              <tr>
                                 <td> {{licence.id}} </td>
                                 <td> {{licence.name_of_the_company}} </td>
                                 <td> {{licence.number_of_premises}} </td>
                                 <td> {{licence.licence_fee}} </td>
                                 <td> {{licence.date_applied}} </td>
                                 <td>
                                    <a href="{% url 'applications:new_premise_prn_pdf_view' licence.id %}" target="_blank" class="btn btn-primary">View </a> 
                                    <a href="{% url 'applications:new_premise_prn_pdf_download_view' licence.id %}"  class="btn btn-success">Download </a> 
                                 </td>
                                 <td class="border-0">
                                    {% if  licence.payment_description == "AVAILABLE"  %}
                                    <b class="badge bg-warning">  Payment Recieved and Pending Processing  </b>
                                    {% elif licence.payment_description == "EXPIRED" %}
                                    <b class="badge bg-danger"> Prn Expired  </b>
                                    {% elif licence.payment_description == "RECEIVED AND CREDITED" %}
                                    <b class="badge bg-success"> Paid   </b>
                                    {% else %}
                                    <b class="badge bg-warning"> Pending Payment   </b>
                                    {% endif %}
                                 </td>
                                 <td>  </td>
                                 {% endfor %}
                              </tr>
                              <!-- End of Item -->
                           </tbody>
                        </table>
                     </div>
                  </div> {% endcomment %}
                  <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
                     <div class="table-responsive">
                        <table class="table table-centered table-nowrap mb-0 rounded">
                           <thead class="thead-light">
                              <tr>
                                 <th class="border-0 rounded-start">Id</th>
                                 <th class="border-0">Name of the Employee</th>
                                 <th class="border-0">Name of the Company</th>
                                 <th class="border-0">Type of the Licence</th>
                                 <th class="border-0">Date Applied</th>
                                 <th class="border-0">Payment Status</th>
                                 <th class="border-0">Approval Status </th>
                                 <th class="border-0">Prn Slip</th>
                                 <th class="border-0">Detail</th>
                              </tr>
                           </thead>
                           <tbody>
                              <!-- Item -->
                              {% for licence in new_keyemployee_licence_track %}
                              <tr>
                                 <td>{{licence.id}} </td>
                                 <td> {{licence.name_of_the_employee}} </td>
                                 <td> {{licence.name_of_the_company}} </td>
                                 <td> {{licence.licence_type}} </td>
                                 <td> {{licence.date_created}}</td>
                                 <td> 
                                    {% if  licence.payment_description == "AVAILABLE"  %}
                                    <b class="badge bg-warning">  Payment Recieved and Pending Processing  </b>
                                    {% elif licence.payment_description == "EXPIRED" %}
                                    <b class="badge bg-danger"> Prn Expired  </b>
                                    {% elif licence.payment_description == "RECEIVED AND CREDITED" %}
                                    <b class="badge bg-success"> Paid   </b>
                                    {% else %}
                                    <b class="badge bg-warning"> Pending Payment   </b>
                                    {% endif %}
                                 </td>
                                 <td> {{licence.approving_authority_status}}  </td>
                                 <td class="text-success">
                                    <div class="d-flex align-items-center">                                                   
                                       <a href="{% url 'applications:new_employee_prn_pdf_view'  licence.id %}" target="_blank" class=" btn btn-primary text-light"> view </a>    
                                       &nbsp;
                                       <a href="{% url 'applications:new_employee_prn_pdf_download_view'  licence.id %}" class=" btn btn-success text-light"> Download </a>                                                 
                                    </div>
                                 </td>
                                 <td> 
                                    <a href="{% url 'applications:employee-detail'  licence.id %}" class=" btn btn-warning text-light"> view </a>
                                 </td>
                              </tr>
                              <!-- End of Item -->
                              {% endfor %}
                           </tbody>
                        </table>
                     </div>
                  </div>
               </div>
               <!-- End of tab -->
            </div>
         </div>
      </div>
   </div>
</div>
{% endblock content %}
