{% load static %}
<!DOCTYPE html>
<html lang="en">

<head> 
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<!-- Primary Meta Tags -->
<title>Login | eLicencing</title>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="title" content="">
<meta name="author" content="Themesberg">
<meta name="description" content="">
<meta name="keywords" content="" />
<link rel="canonical" href="">

<!-- Open Graph / Facebook -->
<meta property="og:type" content="">
<meta property="og:url" content="">
<meta property="og:title" content="">
<meta property="og:description" content="">
<meta property="og:image" content=" ">

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image">
<meta property="twitter:url" content="">
<meta property="twitter:title" content="">
<meta property="twitter:description" content="">
<meta property="twitter:image" content="">

<!-- Favicon -->
{% comment %} <link rel="apple-touch-icon" sizes="120x120" href="../../assets/img/favicon/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="../../assets/img/favicon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="../../assets/img/favicon/favicon-16x16.png">
<link rel="manifest" href="../../assets/img/favicon/site.webmanifest">
<link rel="mask-icon" href="../../assets/img/favicon/safari-pinned-tab.svg" color="#ffffff">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="theme-color" content="#ffffff"> {% endcomment %}

<!-- Sweet Alert -->
<link type="text/css" href="{% static 'system/vendor/sweetalert2/dist/sweetalert2.min.css' %} " rel="stylesheet">

<!-- Notyf -->
<link type="text/css" href="{% static 'system/vendor/notyf/notyf.min.css' %}" rel="stylesheet">

<!-- Volt CSS -->
<link type="text/css" href="{% static 'system/css/volt.css' %}" rel="stylesheet">
<link type="text/css"href="{% static 'system/css/custom.css' %}" >
<noscript> <META HTTP-EQUIV="refresh" CONTENT="0;URL={% url 'enablejs' %}"> </noscript>


</head>

<body class="no-js">



{% block content %}

{% endblock content %}

 <!-- Core -->
<script src="{% static 'system/vendor/popperjs/core/dist/umd/popper.min.js' %}"></script>
<script src="{% static 'system/vendor/bootstrap/dist/js/bootstrap.min.js' %}"></script>

<!-- Vendor JS -->
<script src="{% static 'system/vendor/onscreen/dist/on-screen.umd.min.js' %}"></script>

<!-- Slider -->
<script src="{% static 'system/vendor/nouislider/dist/nouislider.min.js' %}"></script>

<!-- Smooth scroll -->
<script src="{% static 'system/vendor/smooth-scroll/dist/smooth-scroll.polyfills.min.js' %}"></script>

<!-- Charts -->
<script src="{% static 'system/vendor/chartist/dist/chartist.min.js' %}"></script>
<script src="{% static 'system/vendor/chartist-plugin-tooltips/dist/chartist-plugin-tooltip.min.js' %}"></script>

<!-- Datepicker -->
<script src="{% static 'system/vendor/vanillajs-datepicker/dist/js/datepicker.min.js' %}"></script>

<!-- Sweet Alerts 2 -->
<script src="{% static 'system/vendor/sweetalert2/dist/sweetalert2.all.min.js' %}"></script>

<!-- Moment JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.27.0/moment.min.js"></script>

<!-- Vanilla JS Datepicker -->
<script src="{% static 'system/vendor/vanillajs-datepicker/dist/js/datepicker.min.js' %}"></script>

<!-- Notyf -->
<script src="{% static 'system/vendor/notyf/notyf.min.js' %}"></script>

<!-- Simplebar -->
<script src="{% static 'system/vendor/simplebar/dist/simplebar.min.js' %}"></script>


<!-- Volt JS -->
<script src="{% static 'system/assets/js/volt.js' %}"></script>

<script type="text/javascript" src="{% static 'system/vendor/jquery/jquery.min.js' %}"></script>


{% comment %} <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script> {% endcomment %}
</body>

</html>


