{% load static %}
<html lang="en">
   <head>
      <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
      <title>Password Reset Complete</title>
      <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
      <meta name="title" content="">
 
      <link rel="apple-touch-icon" sizes="120x120" href="../../assets/img/favicon/apple-touch-icon.png">
      <link rel="icon" type="image/png" sizes="32x32" href="../../assets/img/favicon/favicon-32x32.png">
      <link rel="icon" type="image/png" sizes="16x16" href="../../assets/img/favicon/favicon-16x16.png">
      <link rel="manifest" href="../../assets/img/favicon/site.webmanifest">
      <link rel="mask-icon" href="../../assets/img/favicon/safari-pinned-tab.svg" color="#ffffff">
      <meta name="msapplication-TileColor" content="#ffffff">
      <meta name="theme-color" content="#ffffff">
      
      <link type="text/css" href="{% static 'system/css/volt.css' %}" rel="stylesheet">
     
   </head>
{% block content %} 
  
<!--Password Reset Complete-->
   <main>
      <section class="vh-lg-100 mt-5 mt-lg-0 bg-soft d-flex align-items-center">
         <div class="container">
            <div class="row justify-content-center form-bg-image">
               
               <div class="col-12 d-flex align-items-center justify-content-center">
                  <div class="bg-white shadow border-0 rounded p-4 p-lg-5 w-100 fmxw-500">
                     <h1 class="h3 mb-4">Password Reset Complete</h1>

                     <hr>
                     <p>Your password has been set. You may go ahead and log in now.</p>                 
                     <a href="{% url 'login' %}" class="btn btn-primary">Log in</a>
                     
                  </div>
               </div>
            </div>
         </div>
      </section>
   </main>

{% endblock content %}
